@use 'sass:math';

@mixin flex($justify: center, $align: center, $direction: null, $wrap: null) {
  display: flex;
  flex-flow: $direction $wrap;
  align-items: $align;
  justify-content: $justify;
}

@mixin typography($size: null, $weight: null, $line-height: null) {
  margin: 0;

  @if $size {
    font-size: var(--font-size-#{$size});
  }

  @if $weight {
    font-weight: var(--font-weight-#{$weight});
  }

  @if $line-height {
    line-height: var(--line-height-#{$line-height});
  }
}
