@use '@/app/styles/helpers' as *;

%label {
  margin-left: em(4);
}

.label {
  @extend %label;

  color: var(--color-dark-100);

  &Disabled {
    color: var(--color-dark-300);
  }
}

.message {
  @extend %label;

  margin-block: em(4, 12);
  color: var(--color-light-900);

  &Error {
    color: var(--color-danger-300);
  }

  &Disabled {
    color: var(--color-dark-300);
  }
}
