@use '@/app/styles/mixins' as *;
@use 'sass:selector';

@include form-card(
  $items: (
    container,
    title,
    form,
    field,
    input,
    hint,
    link,
  )
);

.fieldLast {
  @extend %field;

  margin-bottom: 4px;
}

.checkbox {
  align-self: flex-start;
  margin-left: -6px;
}

.recoveryLink {
  cursor: pointer;

  align-self: flex-end;

  margin-top: 6px;
  margin-right: 12px;

  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.button {
  margin-top: 48px;
}

.hint {
  margin-top: 20px;
  color: var(--color-light-900);
}

.signUpLink {
  @extend %link;
}
