@use '@/app/styles/mixins' as *;

@include form-card(
  $items: (
    container,
    title,
    caption,
    button,
  )
);

.icon {
  width: 96px;
  height: 96px;
  margin-bottom: 24px;
}

.caption {
  text-align: center;
}

.button {
  margin-top: 36px;
}
